* {
  font-family: 'Open Sans', sans-serif;
}

.blue {
  color: #3CF;
}

.green {
  color: #6F6;
}

.form-step {
  display: none;
}

.form-step.active {
  display: block;
}


textarea {
  width: 100%;
  /* Makes it responsive */
  max-width: 600px;
  /* Limits the width */
  height: 60px;
  /* Default height */
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  resize: none;
  /* Allow vertical resizing only */
}

textarea:focus {
  outline: none;
}
/* 

Preloader 
 
https://ihatetomatoes.net/create-custom-preloading-screen/

*/

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;

  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */

  z-index: 1001;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;

  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;

  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }

  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }

  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1000;
  -webkit-transform: translateX(0);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(0);
  /* IE 9 */
  transform: translateX(0);
  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);
  /* IE 9 */
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */

  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);
  /* IE 9 */
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */

  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;

  -webkit-transform: translateY(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(-100%);
  /* IE 9 */
  transform: translateY(-100%);
  /* Firefox 16+, IE 10+, Opera */

  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
  display: none;
}

.no-js h1 {
  color: #222222;
}

/* Universal */
ul {
  margin: 0;
  padding: 0;
}

a:hover,
a:focus {
  text-decoration: none;
}

body {
  background-color: #EAE9EF;
  overflow-x: hidden;
}

.container {
  max-width: 990px;
}

.container-about-contact {
  margin: 80px 170px 150px 170px;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  bottom: 70px;
  right: 30px;
}

.Iconofcar {
  width: 17%;
  margin-right: 30px;
}

/* Header */
.templatemo-top-section {
  background: url(../img/welcome-bg.jpg) top center no-repeat;
  background-size: 100% 628px;
  margin-bottom: 30px;
}

.templatemo-top-section-contact {
  background: url(../img/welcome-bg.jpg) top center no-repeat;
  background-size: 100% 550px;
  margin-bottom: 10px;
}

.templatemo-header {
  margin: 0 auto;
  max-width: 1132px;
  position: relative;
}

.templatemo-header-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 1132px;
}

.templatemo-site-name,
.templatemo-nav {
  position: relative;
}

.templatemo-site-name {
  color: #35098d;
  font-size: 36px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 0;
  padding-top: 32px;
  padding-left: 5px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.templatemo-site-name-2 {
  color: white;
  font-size: 36px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 0;
  padding-top: 35px;
  letter-spacing: 2px;
}

.templatemo-nav-container {
  margin: 36px auto 0 auto;
  max-width: 650px;
  overflow: hidden;
  /* position: relative; */
}

.templatemo-nav li {
  list-style: none;
  float: left;
  text-transform: uppercase;

}

.templatemo-nav li a {
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 15px 75px 5px 25px;
  width: 124px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  transition: 0.9s ease;
}

.templatemo-nav li a:hover,
.templatemo-nav li .active {
  color: #460fb3;
  /* background: url(../img/nav-underline.png) center 80% no-repeat; */
}

.mobile-menu-icon {
  display: none;
}

/* Welcome */
.templatemo-welcome {
  color: white;
  margin-top: 170px;
}

.welcome-img {
  margin-top: 30px;
}

.welcome-title-1 {
  /* color: #b53636; */
  color: #fdfbfb;
  font-size: 35px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #460fb3;
  padding: 5px 15px 7px 15px;
  border-radius: 25px;
  margin-right: 515px;
  text-transform: lowercase;
  margin-bottom: 7px;
  cursor: pointer;
}

.welcome-title-11 {
  /* color: #b53636; */
  color: #fdfbfb;
  font-size: 35px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #460fb3;
  padding: 5px 20px 7px 20px;
  border-radius: 25px;
  margin-right: 215px;
  text-transform: lowercase;
  margin-top: 70px;
  margin-bottom: 7px;
  cursor: pointer;
}

.introduction {
  margin-top: 30px;
}

.welcome-title-2 {
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.welcome-title-22 {
  margin-top: 10px;
  font-size: 35px;
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.welcome-title-1,
.welcome-title-2 {
  display: block;
}

.welcome-message {
  color: #fdfbfb;
  line-height: 1.6em;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.welcome-message-2 {
  color: #fdfbfb;
  line-height: 1.6em;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.welcome-read-more {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

.welcome-read-more:hover {
  color: #b53636;
}

.tm-overflow-hidden {
  overflow: hidden;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.tm-img-1-container {
  cursor: pointer;
  float: left;
  max-width: 240px;
  width: 25%;
  height: auto;
  position: relative;
}

.tm-img-1-container img {
  width: 100%;
  height: auto;
}

.tm-img-1-description {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px 20px;
  text-transform: uppercase;
  color: white;
  text-align: right;
  font-size: 18px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.image-saller {
  margin-top: 10px;
  position: relative;
  left: 38%;
  width: 75px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.9s ease;
}

.image-saller-2 {
  /* margin-left: 120px; */
  position: relative;
  left: 38.5%;
  width: 80px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.9s ease;
}

/* .image-saller-2:hover {
  transform: scale(1.2);
} */


.image-saller-3 {
  position: relative;
  left: 42%;
  width: 100px;
  border-radius: 50%;
  cursor: pointer;
}

.tm-img-1-container:hover .tm-img-1-description {
  opacity: 1;
}

.tm-gallery {
  float: right;
}

.tm-gallery-aside {
  float: left;
}

.tm-gallery-nav {
  background-color: black;
  color: white;
}

.tm-gallery-nav-title {
  background-color: #b53636;
  padding: 15px;
  margin: 0;
}

.tm-gallery-nav ul {
  list-style: none;
  padding: 15px;
}

.tm-gallery-nav li a {
  color: white;
  display: block;
  padding: 5px;
}

.tm-gallery-nav li a:hover,
.tm-gallery-nav li.active a {
  color: #b53636;
}

.tm-gallery-nav li a:hover .tm-gallery-list-fa,
.tm-gallery-nav li.active .tm-gallery-list-fa {
  color: #b53636;
}

.tm-gallery-list-img {
  margin-right: 5px;
}

.tm-gallery-list-fa {
  color: transparent;
  float: right;
  margin-top: 3px;
}

.tm-gallery-nav-title {
  position: relative;
}

.tm-gallery-nav-title .fa {
  position: absolute;
  bottom: -10px;
  left: 23px;
  color: black;
}

.tm-call-us {
  background: url(../img/call-us-bg.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 209px;
  color: white;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 30px;
}

.tm-call-us-title,
.tm-call-us-link {
  font-size: 20px;
}

.tm-call-us-link {
  color: #b53636;
  font-weight: 700;
}

/* Gallery Content */
.tm-gallery-title {
  font-size: 22px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 15px;
}

.tm-item-container {
  background-color: white;
  border-radius: 2px;
  display: inline-block;
  padding: 9px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(224, 224, 224, 1);
  box-shadow: 0 2px 5px 0 rgba(224, 224, 224, 1);
  max-width: 220px;
}

.tm-item-description,
.tm-item-price {
  font-weight: 700;
}

.tm-item-action {
  color: #B4B4B4;
  font-size: 12px;
  font-weight: 700;
  padding-top: 2px;
}

.tm-item-add-icon {
  margin-left: 5px;
}

.tm-item-link:hover .tm-item-action {
  color: #b53636;
}

.tm-item-price-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Banner */
.tm-banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 50px;
  /*https://css-tricks.com/tinted-images-multiple-backgrounds/*/
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../img/banner-bg.jpg) no-repeat left top;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/banner-bg.jpg) no-repeat left top;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/banner-bg.jpg) no-repeat left top;
  background-size: cover;
  color: white;
}

.tm-banner-title {
  margin: 30px 0 30px 50px;
}

.tm-banner-description {
  margin: 0;
  max-width: 580px;
}

.tm-banner-link {
  background: #b53636;
  color: white;
  font-size: 50px;
  width: 90px;
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.tm-banner-link:hover,
.tm-banner-link:focus {
  color: #262626;
}

/* Footer */
footer.tm-footer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../img/footer-bg.jpg) no-repeat left top;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/footer-bg.jpg) no-repeat left top;
  background: linear-gradient(rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)), url(../img/footer-bg.jpg) no-repeat left top;
  background-size: cover;
  color: #B4B4B4;
  padding-top: 50px;
}

.tm-footer-div-title {
  color: white;
  font-size: 21px;
  font-weight: 700;
}

.tm-footer-nav {
  font-weight: 700;
  text-transform: uppercase;
}

.tm-footer-nav ul {
  list-style: none;
}

.tm-footer-nav li {
  padding: 15px 0 0 0;
}

.tm-footer-nav li a {
  color: #B4B4B4;
  transition: 0.7s ease;
}

.tm-footer-nav li a:hover {
  color: #6e41b6;

}

.margin-bottom-60 {
  margin-bottom: 60px;
}

.margin-top-15 {
  margin-top: 15px;
}

.copyright-text {
  color: white;
  margin-top: 50px;
}

.copyright-text a {
  color: #FFF;
}

.tm-social-icon {
  background-color: #505050;
  color: white;
  display: inline-block;
  font-size: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  text-align: center;
  padding-top: 6px;
  margin-right: 10px;
  -webkit-box-shadow: 0 0 2px 0 rgba(224, 224, 224, 1);
  box-shadow: 0 0 2px 0 rgba(224, 224, 224, 1);
  transition: 0.9s ease;
}

.tm-social-ico {
  /* background-color: #505050; */
  /* color: rgb(33, 4, 161); */
  color: #2e0969;
  display: inline-block;
  font-size: 25px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  text-align: center;
  padding-top: 6px;
  padding-left: 50px;
  /* margin-right: 10px; */
  -webkit-box-shadow: 0 0 2px 0 rgba(224, 224, 224, 1);
  box-shadow: 0 0 2px 0 rgba(224, 224, 224, 1);
}

.tm-social-ico-3:hover {
  color: black;
}

.tm-social-ico:hover {
  color: black;
}

.tm-social-ico-2:hover {
  color: black;
}

.tm-social-icon:last-child {
  margin-right: 0;
}

.tm-social-icon:hover,
.tm-social-icon:focus {
  background-color: #2e0969;
  color: white;
  transform: scale(1.4);
}

.tm-social-icons-container {
  margin-top: 25px;
}

.tm-copyright {
  background: url(../img/copyright-bg.png) no-repeat center bottom;
  background-size: contain;
  height: 96px;
}

.services {
  padding: 50px 20px;
  text-align: center;
  margin-bottom: 150px;
}

.services .title-about {
  font-size: 4rem;
  color: #333;
  margin-bottom: 80px;
}

.services .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.service {
  border-radius: 10px;
  border: 0.3px solid #4002b3;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1);
  transition: transform 0.9s ease, box-shadow 0.9s;
}

.service:hover {
  transform: translateY(-10px);
  box-shadow: 0 18px 36px rgba(0, 0, 0, 0.2);
}

.service img {
  width: 100%;
  height: 285px;
}

.service h3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #4002b3;
  margin: 15px 0;
}

.service p {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 15px 15px;
  color: #020202;
  /* color: #555; */
}

/* Gallery page */
.gallery-page .container {
  max-width: 990px;
}

.gallery-page .tm-item-container {
  max-width: 225px;
}

.tm-gallery-item-info {
  margin: 15px 15px 0 15px;
}

.gallery-page .tm-gallery {
  float: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* About page */
.about-slider {
  max-width: 930px;
  overflow: hidden;

}


.about-page .welcome-title {
  margin-top: 0;
}

.about-page .templatemo-welcome,
.contact-page .templatemo-welcome,
.services-page .templatemo-welcome {
  padding-bottom: 100px;
}

/* Flex Slider */
.flexslider {
  position: relative;
  padding: 0 30px;
}

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

ol.flex-control-nav {
  display: none;
}

.slides,
.slides>li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}


.line {
  margin-left: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-decoration: underline 2px;
  color: #353131;
}

.numberofcars {
  font-size: 23px;
  font-weight: 600;
  font-family: cursive;
}

.region-more {
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
  border: solid 1.5px #000000;
  padding: 0px 5px 1.9px 7px;
  border-radius: 30px;
  transition: 0.9s ease;
}

.region-more:hover {
  background-color: #dbc9c9;
}

.City {
  color: #4b4848;
  font-family: cursive;
  margin-left: 5px;
}



.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: FontAwesome;
  font-size: 40px;
  outline: none;
}

.flex-direction-nav a:hover {
  color: #b53636;
}

.flex-direction-nav .flex-next {
  right: 10px;
  text-align: right;
}

.flexslider .flex-direction-nav .flex-prev {
  left: 10px;
}

.flexslider .welcome-title {
  margin-top: 0;
}

.flexslider .welcome-message {
  font-weight: 300;
  text-align: justify;
}

.flexslider .welcome-message-2 {
  font-weight: 300;
  text-align: justify;
}

.about-container {
  width: 940px;
  height: 420px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 70px;
  border: solid 2px #b3a3ce;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 7px 7px #7e7b7b;
  transition: 0.8s ease;
}

.about-container:hover {
  border: solid 2px #340a77;
  transform: scale(1.02);
}

.img-size {
  width: 370px;
  height: 460px;
  object-fit: cover;
}

.img-size1 {
  width: 324px;
  height: 220px;
  object-fit: cover;
}

.img-size2 {
  height: 230px;
  object-fit: cover;
}




.about-container-about {
  display: flex;
  padding: 50px 20px 30px 30px;
  border: solid 1px #b3a3ce;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 4px 2px #b3afaf;
}

.about-container-about-1 {

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  border: solid 1px #b3a3ce;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 4px 2px #b3afaf;
  transition: 0.8s ease;
}

.title-about {
  display: flex;
  justify-content: center;
  font-size: 33px;
  font-weight: 600;
  margin: 50px 0px 40px 0px;
}

.about-container-2 {
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px;
}

.about-container-2-2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.about-container-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 100px 50px 70px;
}


.under-card {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-father {
  font-size: 23px;
}

.tm-social-ico-2 {
  color: #340a77;
  margin-left: 5px;
}

.mantant-2 {
  margin-top: 10px;
  padding: 8px 15px;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 11px;
  background-color: #340a77;
  color: white;

}

.mantant-3 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 4px;
  padding: 7px 17px;
  font-size: 1.7rem;
  font-weight: 700;
  border-radius: 11px;
  background-color: #340a77;
  color: white;

}

.about-container-inner {
  width: 360px;
  height: 99vh;
  border: solid #340a77 2px;
  box-shadow: 7px 10px #b4b2b2;
  padding: 1.5rem;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.9s ease;
}

.about-container-inner:hover {
  transform: scale(1.05);
}

.about-container-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.icoon {
  margin-top: 50px;
}

.about-container-right-1 {
  padding: 60px 37px 0px 37px;

}

.about-container-right-1 {
  width: 50%;
  max-width: 460px;
}


.about-title {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 1px;
  text-transform: uppercase;
}

.about-title-2 {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 17px;
  display: flex;
  color: #000000;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.about-title-3 {
  font-size: 15px;
  display: flex;
  color: #000000;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.about-title-33 {
  font-size: 25px;
  display: flex;
  color: #340a77;
  justify-content: center;
  font-weight: 700;
  text-transform: uppercase;
}

.about-title-22 {
  font-size: 20px;
  display: flex;
  color: #340a77;
  justify-content: center;
  font-weight: 700;
  margin-top: 7px;
  text-transform: uppercase;
}

.about-description {
  margin: 10px 0px 3px 0px;
  font-size: 1.1rem;
  line-height: 20px;
  font-weight: 600;
  font-family: sans-serif;
}

.form {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  margin: 0;
}

.contact-form {
  padding: 20px;
  border: #2e0969 solid 1px;
  border-radius: 18px;
  box-shadow: 0 20px 70px rgba(83, 80, 80, 0.1);
  width: 97%;
  max-width: 550px;
  cursor: pointer;
  transition: 0.7s ease;
}

.contact-form:hover {
  transform: scale(1.01);
  border: #2e0969 solid 1.8px;
}

.contact-form h2 {
  display: flex;
  justify-content: center;
  margin: 20px 0px 50px 0px;
  color: #333;
}

.form-row {
  display: flex;
  gap: 17px;

}

.form-group {
  flex: 1;
}

.form-group label {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.checkbox-group {
  margin: 15px 0;
  font-size: 14px;

}

.checkbox-group input {
  margin-left: 5px;
}

.contact-form button {
  width: 100%;
  padding: 10px;
  background: #5f31aa;
  color: #fff;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.9s ease;
}

.contact-form button:disabled {
  background: #948f8f;
  cursor: not-allowed;
}

.contact-form button:hover:not(:disabled) {
  background: #2e0969;
}

.about-description-about {
  margin: 10px 30px 30px 0px;
  font-size: 1.35rem;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  font-family: sans-serif;
}

.about-description1 {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: sans-serif;
  color: #161515;
}

.about-description2 {
  margin: 7px 0px 3px 7px;
  font-size: 1.1rem;
  line-height: 20px;
  font-weight: 600;
  font-family: sans-serif;
}

.discandcity {
  margin-left: 17px;
}

.about-description-1 {
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: justify;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}

.cardfirstplace {
  display: flex;
  justify-content: center;
}

.mantant {
  padding: 7px 12px;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 12px;
  background-color: #340a77;
  color: white;
}

.social-parent {
  display: flex;
  justify-content: center;
}

.tm-social-ico-3 {
  font-size: 23px;
  margin-left: 8px;
  color: #340a77;
}

.services-container-inner {
  width: 307px;
  height: 593px;
  border: solid #340a77 2px;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 7px 10px #d1cece;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.9s ease;
}

.services-container-inner:hover {
  transform: scale(1.02);
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.Word-link {
  background-color: #2e0969;
  display: flex;
  justify-content: center;
  margin: 80px 450px 0px 450px;
  padding: 10px 0px;
  border-radius: 17px;
  color: #f0f0f0;
  font-size: 2.5rem;
  font-weight: 700;
}


/* Style for the options menu */

.options {
  display: none;
  /* Hidden by default */
  background-color: #2e0969;
  /* border: 1px solid #212122; */
  padding: 10px;
  width: 370px;
  position: relative;
  top: 30%;
  border-radius: 10px;
  left: 0;
  margin-left: 495px;
  margin-top: 1px;
}

.option {
  padding: 8px;
  cursor: pointer;
  color: white;
  border-bottom: 1px solid #dfcfcf;
  transition: 0.9s ease;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 700;
}

.option:last-child {
  border-bottom: none;
}

/* Hover effect for options */
.option:hover {
  background-color: #f0f0f0;
  color: #2e0969;
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

* {
  box-sizing: border-box;
}

/* Hide all images by default */
.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  max-width: 1000px;
  margin: auto;
}

/* Next and previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (min-width: 850px) and (max-width: 1199px) {
  .templatemo-header {
    max-width: 992px;
  }

  .templatemo-header-img {
    width: 992px;
  }

  .templatemo-nav-container {
    margin-top: 20px;
    max-width: 560px;
  }

  .templatemo-nav li a {
    padding: 15px 28px;
    width: 106px;
  }

  .templatemo-top-section {
    background-size: 100% 528px;
  }

  .templatemo-welcome {
    margin-top: 85px;
  }

  .welcome-img {
    margin-top: 50px;
  }

  .about-container-inner {
    width: 370px;
    height: 47vh;
  }

  .services .grid {
    margin: 0px 50px;
    gap: 27px;
  }

  .services {
    padding: 80px 87px;
    margin-bottom: 90px;
  }

  .form {
    height: 53vh;
  }

  .Word-link {
    margin-left: 290px;
    margin-right: 290px;
    padding: 10px 0px;
    font-size: 2.3rem;
    font-weight: 700;
  }

  .options {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 300px;
    margin-left: 357px;
  }
}

@media screen and (min-width: 767px) and (max-width: 850px) {
  .templatemo-header {
    max-width: 767px;
  }

  .templatemo-header-img {
    width: 767px;
  }

  .templatemo-nav li a {
    padding: 20px 17px;
    width: 80px;
  }

  .templatemo-nav-container {
    font-size: 12px;
    margin-top: 12px;
    max-width: 440px;
  }

  .templatemo-site-name,
  .templatemo-site-name-2 {
    font-size: 25px;
    padding-top: 20px;
  }

  .welcome-title-1 {
    padding: 5px 15px 7px 15px;
    margin-right: 270px;
  }

  .welcome-title-2 {
    font-size: 37px;
  }

  .about-description {
    margin: 40px 10px 10px 10px;
  }

  .about-container {
    width: 730px;
    height: 470px;
    margin-top: 0px;
  }

  .about-container:hover {
    transform: none;
  }

  .image-saller-3 {
    left: 38%;
  }

  .img-size {
    height: 470px;
  }

  .about-container-3 {
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding: 0px;
    margin-bottom: 70px;
  }

  .about-container-inner {
    width: 360px;
    height: 65vh;
    padding: 10px;
    margin-left: 20px;
  }

  .about-container-inner:hover {
    transform: none;
  }

  .about-container-2-2 {
    justify-content: center;
  }

  .services-container-inner {
    width: 380px;
    height: 653px;
    margin: 40px;
  }

  .image-saller {
    left: 41%;
  }

  .banner {
    right: 0px;
  }

  .Iconofcar {
    width: 27%;
    margin-right: 0px;
  }

  .Word-link {
    margin-left: 220px;
    margin-right: 220px;
    padding: 10px 0px;
    font-size: 2.1rem;
    font-weight: 700;
  }

  .options {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 270px;
    margin-left: 255px;
  }

  .services .grid {
    margin: 20px 40px;
    gap: 27px;
  }

  .services {
    padding: 30px 0px;
    margin-bottom: 90px;
  }

  .container-about-contact {
    margin: 80px 50px 150px 50px;
  }

  .about-container-about {
    padding: 50px 0px 10px 0px;
  }

  .form {
    height: 66vh;
  }
}

/* @media screen and (max-width: 766px) {
  .templatemo-top-section {
    background-size: cover;
    padding-bottom: 50px;
  }

  .templatemo-header-img {
    max-width: 100%;
  }

  .templatemo-site-name {
    font-size: 26px;
    padding-top: 20px;
  }

  .templatemo-nav {
    display: none;
  }

  .templatemo-nav li {
    float: none;
  }

  .mobile-menu-icon {
    background-color: #2e0969;
    color: white;
    cursor: pointer;
    display: block;
    padding: 10px 15px;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 999;
  }

  .templatemo-nav-container {
    height: auto;
    position: fixed;
    z-index: 1000;
    top: 40px;
    right: 0px;
  }

  .templatemo-nav-container {
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 0;
    margin-right: 0;
  }

  .templatemo-nav ul {
    text-align: center;
  }

  .templatemo-nav li a {
    display: block;
    padding: 10px 15px;
  }

  .tm-banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .tm-banner-title {
    margin: 20px auto;
  }

  .tm-banner-description {
    margin: 0 15px 20px 15px;
  }

  .tm-banner-link {
    width: 100%;
  }

  .about-page .templatemo-welcome,
  .contact-page .templatemo-welcome,
  .services-page .templatemo-welcome {
    padding-bottom: 0;
  }

  .about-page .templatemo-welcome {
    margin-top: 110px;
    padding-bottom: 0;
  }

  .about-slider-description {
    width: 100%;
    margin-top: 15px;
  }

  .about-page .welcome-title-2 {
    font-size: 28px;
  }


  .tm-img-1-container {
    width: 50%;
  }

  .services-title {
    margin-bottom: 15px;
  }

  .services-blocks-container {
    display: block;
  }

  .services-block {
    width: 100%;
    margin-bottom: 15px;
    margin-right: 0;
  }

  .services-container-1 {
    padding: 15px;
  }
} */

/* @media screen and (max-width: 630px) {
  .copyright-text {
    max-width: 100%;
    margin-top: 0;
  }

  .templatemo-site-name,
  .templatemo-site-name-2 {
    font-size: 15px;
    padding-top: 15px;
  }

  .welcome-title-1 {
    padding: 5px 15px 4px 15px;
    margin-right: 420px;
  }

  .about-container:hover {
    transform: none;
  }
} */

/* @media screen and (max-width: 500px) {

  .templatemo-site-name,
  .templatemo-site-name-2 {
    font-size: 11px;
    padding-top: 12px;
  }

  .welcome-title-1 {
    padding: 5px 15px 4px 15px;
    margin-right: 180px;
  }

  .about-container:hover {
    transform: none;
  }

  .about-container-right {
    padding: 20px;
  }

  .image-saller-3 {
    margin-left: 150px;
  }

  .image-saller-2 {
    margin-left: 112px;
  }

  .about-title-3 {
    font-size: 16px;
    margin-left: 20px;
  }

  .about-title-33 {
    margin-left: 10px;
  }

  .mantant {
    margin: 20px 60px 20px 80px;
    padding: 7px 0px;
  }

  .tm-social-ico-2 {
    padding-top: 0px;
    padding-left: 68px;
    margin-right: 0px;
  }

  .about-container-inner:hover {
    transform: none;
  }

  .line {
    margin-left: 10px;
    font-size: 2.5rem;
  }

  .about-container-2 {
    padding-left: 70px;
  }

  .about-container-2-2 {
    padding-left: 70px;
  }

  .services-container-inner:hover {
    transform: none;
  }

  .copyright-text {
    color: white;
    margin-top: 70px;
    font-size: 10px;
  }
}  */


/* //////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////// */

/* @media screen and (min-width: 375px) and (max-width: 430px) { */

/* //////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 430px) {
  .templatemo-top-section {
    background-size: cover;
    padding-bottom: 50px;
  }

  .templatemo-header-img {
    max-width: 100%;
  }

  .templatemo-site-name,
  .templatemo-site-name-2 {
    font-size: 16px;
    font-weight: 700;
    padding-top: 12px;
    font-family: 'Courier New', Courier, monospace;
  }

  .templatemo-nav {
    display: none;
  }

  .templatemo-nav li {
    float: none;
  }

  .mobile-menu-icon {
    background-color: #2e0969;
    color: white;
    cursor: pointer;
    display: block;
    padding: 10px 15px;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 999;
  }

  .templatemo-nav-container {
    height: auto;
    position: fixed;
    z-index: 900;
    top: 40px;
    right: 0px;
  }

  .templatemo-nav-container {
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 0;
    margin-right: 0;
  }

  .templatemo-nav ul {
    text-align: center;
  }

  .templatemo-nav li a {
    display: block;
    padding: 10px 15px;
  }

  .about-container {
    width: 100%;
    height: 840px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 70px;
    border: solid 2px #b3a3ce;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 7px 7px #7e7b7b;
  }

  .about-container:hover {
    transform: none;
  }

  .img-size {
    width: 380px;
    height: 390px;
    object-fit: cover;
  }

  .image-saller-3 {
    position: relative;
    padding-top: 17px;
    left: 40%;
    width: 90px;
    border-radius: 50%;
    cursor: pointer;
  }

  .about-container-3 {
    justify-content: center;
    padding: 0px;
  }

  .about-container-inner {
    width: 360px;
    height: 87vh;
    margin-bottom: 30px;
    padding: 10px 0px 0px 0px;
  }

  .about-container-inner:hover {
    transform: none;
  }

  .img-size1 {
    width: 100%;
    height: 270px;
    object-fit: cover;
  }

  .line {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline 2px;
    color: #423e3e;
  }

  .about-container-2-2 {
    justify-content: center;
  }

  .welcome-title-1 {
    font-size: 35px;
    padding: 5px 15px 7px 15px;
    margin-right: 160px;
  }

  .banner {
    flex-direction: column;
    bottom: 70px;
    right: 0px;
  }

  .Iconofcar {
    width: 70%;
    margin-left: 55px;
  }

  .introduction {
    margin-top: 0px;
    margin-left: 20px;
  }

  .welcome-title-11 {
    font-size: 30px;
    padding: 5px 20px 7px 20px;
    margin-right: 215px;
    margin-top: 0px;
    margin-bottom: 7px;
  }

  .welcome-title-22 {
    font-size: 32px;
  }

  .welcome-message-2 {
    font-size: 15px;
    font-weight: 0;
  }

  .Word-link {
    background-color: #2e0969;
    display: flex;
    justify-content: center;
    margin: 50px 30px 0px 30px;
    padding: 8px 0px;
    border-radius: 15px;
    font-size: 2rem;
    font-weight: 700;
  }

  .options {
    background-color: #2e0969;
    padding: 3px;
    width: 280px;
    border-radius: 10px;
    margin: 1px 0px 0px 71px;
  }

  .services-container-inner {
    margin: 12px 0px;
  }

  .services-container-inner:hover {
    transform: none;
  }

  .container-about-contact {
    margin: 30px 20px;
  }

  .title-about {
    font-size: 27px;
    font-weight: 700;
    margin: 100px 0px 40px 0px;
  }

  .about-container-about {
    flex-direction: column;
    padding: 0px;
    padding-bottom: 30px;
  }

  .about-title {
    display: flex;
    justify-content: center;
    font-size: 2.3rem;
    margin-bottom: 3px;
    text-decoration: underline;
  }

  .about-description-about {
    margin: 10px 10px 30px 15px;
    font-size: 1.2rem;
  }

  .services {
    padding: 0px 40px;
    text-align: center;
    margin-bottom: 150px;
  }

  .services .title-about {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    color: #333;
    margin-bottom: 50px;
  }

  .services .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
  }

  .form {
    height: 90vh;
  }

  .contact-form {
    max-width: 360px;
  }

  .copyright-text {
    margin-top: 75px;
    font-size: 9px;
  }

  .tm-banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .tm-banner-title {
    margin: 20px auto;
  }

  .tm-banner-description {
    margin: 0 15px 20px 15px;
  }

  .about-page .templatemo-welcome {
    margin-top: 110px;
    padding-bottom: 0;
  }

  .about-slider-description {
    width: 100%;
    margin-top: 15px;
  }

  .about-page .welcome-title-2 {
    font-size: 28px;
  }


  .tm-img-1-container {
    width: 50%;
  }

  .services-title {
    margin-bottom: 15px;
  }

  .services-blocks-container {
    display: block;
  }

  .services-block {
    width: 100%;
    margin-bottom: 15px;
    margin-right: 0;
  }

  .services-container-1 {
    padding: 15px;
  }
}